body{}
/*Logo*/
.logo{
  width: 15%;
  height: auto;
}
/*Texto Logo*/
.logoText{
 font-family: 'Raleway', sans-serif;
 display: inline-block;
 font-size: 20px;
 color: white;
}
/*navbar*/
.navbar{
  background-color: #1C1E2B;
}
/*Texto de las fotos*/
.photoText{
  font-family: 'Roboto', sans-serif;
  background-color: rgba(248, 95, 68, 0.425);
  text-align: center;
}
/*Título*/
.title{
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
/*Mapita*/
#mapa{
  width: 250px; 
  height: 150px;
  padding: 2%;
}